// Font Settings

$default-font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB","Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif !default;

$root-font-size: 16px;

// Color Settings

$colors: (
  red:    #c3272b,
  purple: #875f9a,
  yellow: #ffb95a,
  green:  #8db255,
  blue:   #1f4788,
  black:  #27221f,
  grey:   #c6c2b6
);

$breakpoints: (
  small: 30em,
  medium: 48em,
  large: 60em
);
