@each $category-name, $category-value in box-categories() {
  @each $box-position-option in box-position-options() {
    .margin__#{$box-position-option}--#{$category-name} {
      @if $box-position-option == vertical {
        margin-top: $category-value;
        margin-bottom: $category-value;
      } @else if $box-position-option == horizontal {
        margin-right: $category-value;
        margin-left: $category-value;
      } @else {
        margin-#{$box-position-option}: $category-value;
      }
    }
    @if $category-name != none {
      .negative-margin__#{$box-position-option}--#{$category-name} {
        @if $box-position-option == vertical {
          margin-top: -$category-value;
          margin-bottom: -$category-value;
        } @else if $box-position-option == horizontal {
          margin-right: -$category-value;
          margin-left: -$category-value;
        } @else {
          margin-#{$box-position-option}: -$category-value;
        }
      }
    }
  }

  .margin--#{$category-name} {
    margin: $category-value;
  }

  @if $category-name != none {
    .negative-margin--#{$category-name} {
      margin: -$category-value;
    }
  }
}
