/**
 * example:  .padding--noraml
 *           .padding__top--noraml
 *           .padding__vertical--small
 *           .padding--none
 */

@each $category-name, $category-value in box-categories() {
  @each $box-position-option in box-position-options() {
    .padding__#{$box-position-option}--#{$category-name} {
      @if $box-position-option == vertical {
        padding-top: $category-value;
        padding-bottom: $category-value;
      } @else if $box-position-option == horizontal {
        padding-right: $category-value;
        padding-left: $category-value;
      } @else {
        padding-#{$box-position-option}: $category-value;
      }
    }
  }

  .padding--#{$category-name} {
    padding: $category-value;
  }
}
