@function box-categories() {
  @return (
    ex-tiny: .063rem,
    tiny:    .312rem,
    small:   .625rem,
    noraml:  1.25rem,
    large:   3.125rem,
    huge:    6.25rem,
    ex-huge: 12.5rem,
    none:    0
  );
}

@function box-position-options() {
  @return top bottom left right vertical horizontal;
}

@import 'box/margin';
@import 'box/padding';
