$gm-columns-numbers: ( 1, 2, 3, 4, 5, 6, 7, 8, 9, 10) !default;

.gm-grid {
  @extend .display--flex;
  @extend .margin--none;
  @extend .padding--none;
  @extend .reset-list-style;
  flex-wrap: wrap;
}

@mixin grid-width($grid-name: "") {
  @each $column-number-base in $gm-columns-numbers {
    @each $column-number in $gm-columns-numbers {
      @if $column-number < $column-number-base {
        .gm-width-#{$column-number}-#{$column-number-base}#{$grid-name} {
          width: $column-number / $column-number-base * 100%;
        }
      }
    }
  }

  .gm-width-1-1#{$grid-name} { width: 100%; }
}

@include grid-width;

@each $name, $breakpoint in $breakpoints {
  @media screen and (max-width: $breakpoint) {
    @include grid-width($grid-name: --#{$name});
  }
}

[class^="gm-width"] {
  @extend .padding--small;
}
