.gm-grid {
  @extend .display--flex;
  @extend .margin--none;
  @extend .padding--none;
  @extend .reset-list-style;
  flex-wrap: wrap;
}

@mixin grid-width($grid-name: "") {
  .gm-width-1-1#{$grid-name}  { width: 100%; }

  .gm-width-1-2#{$grid-name},
  .gm-width-2-4#{$grid-name},
  .gm-width-3-6#{$grid-name},
  .gm-width-5-10#{$grid-name} { width: 50%; }

  .gm-width-1-3#{$grid-name},
  .gm-width-2-6#{$grid-name}  { width: (1/3)*100%; }

  .gm-width-2-3#{$grid-name},
  .gm-width-4-6#{$grid-name}  { width: (2/3)*100%; }

  .gm-width-1-4#{$grid-name}  { width: 25%; }
  .gm-width-3-4#{$grid-name}  { width: 75%; }

  .gm-width-1-5#{$grid-name},
  .gm-width-2-10#{$grid-name} { width: 20%; }

  .gm-width-2-5#{$grid-name},
  .gm-width-4-10#{$grid-name} { width: 40%; }

  .gm-width-3-5#{$grid-name},
  .gm-width-6-10#{$grid-name} { width: 60%; }

  .gm-width-4-5#{$grid-name},
  .gm-width-8-10#{$grid-name} { width: 80%; }

  .gm-width-1-6#{$grid-name}  { width: (1/6)*100%; }
  .gm-width-5-6#{$grid-name}  { width: (5/6)*100%; }

  .gm-width-1-10#{$grid-name} { width: 10%; }
  .gm-width-3-10#{$grid-name} { width: 30%; }
  .gm-width-7-10#{$grid-name} { width: 70%; }
  .gm-width-9-10#{$grid-name} { width: 90%; }
}

@include grid-width;

@each $name, $breakpoint in $breakpoints {
  @media screen and (max-width: $breakpoint) {
    @include grid-width($grid-name: --#{$name});
  }
}

[class^="gm-width"] {
  @extend .padding--small;
}
